<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/form.css">
</head>
<body>
    <form class="form" method="post" action="submit">
        <input class="inp" type="text" name="name"/>
        <input class="inp" type="text" name="lastName"/>
        <input class="inp" type="number" name="age"/>
        <input class="but" type="submit" /> 
    </form>
</body>
</html>